{% extends 'base.html' %}

{%block head %}
<title>iSYSTEM - Home </title>

{% endblock %}

{% block body %}

<body>

    <nav class="navbar fixed-top navbar-center navbar-expand-lg navbar-light cusSticky"
        style="background-color: #4472c4">
        <a class="navbar-brand logo" href="/home"><img src="{{ url_for('static', filename='/Logo.png')}}" alt="..."
                height="45"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="/home" style="color: #343434;;">Home <span
                            class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/log" style="color: #d1d1d1;">Log</a>
                <li class="nav-item">
                    <a class="nav-link" href="/packages" style="color: #d1d1d1;">Pakete</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/settings" style="color: #d1d1d1;">Einstellungen</a>
                </li>
                </li>
            </ul>

        </div>
    </nav>

    <div class="input-group-lg input-group mb-3 text-centered col-md-4">

        <input type="text" class="form-control" name="number" id="package_number_content" placeholder="Neue Paketnummer"
            aria-label="Recipient's username" aria-describedby="basic-addon2">

        <div class="input-group-append">
            <input class="btn btn-outline-secondary" type="submit" value="Speichern" onclick="check_new_packagenumber()"
                name="submit_button">
        </div>
    </div>

    <div class="row mb-4 mx-5 mt-5 justify-content-center">
        <div class="col-md-2 mb-4 text-center">
            <input type="submit" class="btn btn-primary btn-lg button_open" name="submit_button" value="Paketbox öffnen"
                id="box_open" onclick="open_package_box()">
            <input type="hidden" name="post_identifier" value="open_box" />

        </div>

        <div class="col-md-2 mb-4 text-center">
            <input class="btn btn-primary btn-lg button_open" type="submit" name="submit_button" value="Türe öffnen"
                id="door_open" onclick="door()" style="background-color: #4472c4;">
            <input type="hidden" name="post_identifier" value="open_door" />
        </div>
        <div class="col-md-2 mb-4 text-center">
            <input class="btn btn-primary btn-lg button_open" type="submit" name="submit_button" value="Sprachausgabe"
                id="speak" onclick="speecher()">
            <input type="hidden" name="post_identifier" value="speak" />
        </div>

    </div>

    <div class="row mb-4 mx-5 mt-4 justify-content-center">

        <div class="col-md-2 mb-4">
            <div class="shadow-box-example z-depth-1 flex-center" id='colorBoxFull'>

                <div class="middle" id="BoxFull">Paketbox </br> Leer</div>

            </div>
        </div>

        <div class="col-md-2 mb-4">
            <div class="shadow-box-example z-depth-1 flex-center" id='colorBoxState'>

                <div class="middle" id="BoxOpen">Paketbox </br> Geschlossen</div>

            </div>
        </div>

        <div class="col-md-2 mb-4">
            <div class="shadow-box-example z-depth-1 flex-center" id='colorDoorState'>

                <div class="middle" id='DoorOpen'>Türöffner </br> Nicht betätigt</div>

            </div>
        </div>

        <div class="col-md-2 mb-4">
            <div class="shadow-box-example z-depth-1 flex-center" id='colorBellState'>

                <div class="middle" id='Bell'>Klingeltaster </br> Nicht betätigt</div>

            </div>
        </div>

    </div>

    <div class="row mb-4 mx-5 mt-4 justify-content-center">

        <div class="col-md-2 mb-4">
            <div class="shadow-box-example z-depth-1 flex-center" id='colorErrorState'>

                <div class="middle" id="Error">Fehlertaste </br> Nicht betätigt</div>

            </div>
        </div>

        <div class="col-md-2 mb-4">
            <div class="shadow-box-example z-depth-1 flex-center" id='colorScannerState'>

                <div class="middle" id="Scanner">Scanner </br> Nicht betätigt</div>

            </div>
        </div>

        <div class="col-md-2 mb-4">
            <div class="shadow-box-example z-depth-1 flex-center" id='colorLightState'>

                <div class="middle" id="Light">Beleuchtung </br> Nicht aktiv</div>

            </div>
        </div>

        <div class="col-md-2 mb-4">
            <div class="shadow-box-example z-depth-1 flex-center" style="background-color: #c0c0c1;">
                <div class="middle" id="temperature" style="padding: 4%; font-size: 30pt"></div>

            </div>
        </div>

    </div>

    <script type="text/javascript"
        src="{{ url_for('static', filename='javascript/includes/polipop/dist/polipop.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='/javascript/includes/socketio.js')}}"></script>
    <script src="{{ url_for('static', filename='/javascript/includes/speech.js')}}"></script>
    <script src="{{ url_for('static', filename='/javascript/includes/state.js')}}"></script>
    <script src="{{ url_for('static', filename='/javascript/includes/packagenumber.js')}}"></script>
    <script src="{{ url_for('static', filename='/javascript/includes/get_request_data.js')}}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='/javascript/home.js')}}"></script>
    {% endblock %}