{% extends 'base.html' %}
{%block head %}
<title>iSYSTEM - Log </title>
{% endblock %}

{% block body %}

<nav class="navbar fixed-top navbar-center navbar-expand-lg navbar-light cusSticky" style="background-color: #4472c4">
    <a class="navbar-brand logo" href="/home"><img src="{{ url_for('static', filename='/Logo.png')}}" alt="..."
            height="45"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/home" style="color: #d1d1d1;;">Home <span
                        class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item  active">
                <a class="nav-link" href="/log" style="color: #343434;">Log</a>
            <li class="nav-item">
                <a class="nav-link" href="/packages" style="color: #d1d1d1;">Pakete</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/settings" style="color: #d1d1d1;">Einstellungen</a>
            </li>
            </li>
        </ul>
    </div>
</nav>


<div class="row justify-content-center">
    <div class="col-auto">
        <table class="table table_log table-hover table-responsive table-bordered" style="border-radius: 0.3rem;" id="log_tabel">
            <thead>
                <tr>
                    <th style="background-color:#4472c4 ; color: white; border-radius: 0.3rem 0em 0em;" scope="col">
                        Logeintrag</th>
                    <th style="background-color:#4472c4 ; color: white;" scope="col">Datum</th>
                    <th style="background-color:#4472c4 ; color: white; border-radius: 0em 0.3rem 0em;" scope="col">
                        Uhrzeit</th>
                </tr>
            </thead>
        </table>
        <div class="container text-center">
            <div><div class="spinner-border" id="loading"></div></div>
        </div>

        <div class="mb-4 text-center">
            <form action="/log" method="POST">
                <input type="submit" class="btn btn-primary btn-lg" name="submit_button"
                    value="Gesamten Log herunterladen" id="button">
                <p id="output"></p>
            </form>
        </div>

    </div>
</div>
<script src="{{ url_for('static', filename='/javascript/includes/get_request_data.js')}}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='/javascript/includes/socketio.js')}}"></script>
<script src="{{ url_for('static', filename='/javascript/includes/create_all_tables.js')}}"></script>
<script src="{{ url_for('static', filename='/javascript/log.js')}}"></script>


{% endblock %}