{% extends 'base.html' %}

{%block head %}
<title>iSYSTEM - Pakete</title>
{% endblock %}

{% block body %}
<nav class="navbar fixed-top navbar-center navbar-expand-lg navbar-light cusSticky" style="background-color: #4472c4">
    <a class="navbar-brand logo" href="/home"><img src="{{ url_for('static', filename='/Logo.png')}}" alt="..."
            height="45"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/home" style="color: #d1d1d1;">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/log" style="color: #d1d1d1;">Log</a>
            <li class="nav-item">
                <a class="nav-link  active" href="/packages" style="color: #343434;">Pakete</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/settings" style="color: #d1d1d1;">Einstellungen</a>
            </li>
            </li>
        </ul>
    </div>
</nav>

<div class="input-group-lg input-group mb-3 text-centered col-md-4">
    <input type="text" class="form-control" name="content" id="package_number_content" placeholder="Neue Paketnummer"
        aria-label="Recipient's username" aria-describedby="basic-addon2">
    <input type="hidden" name="post_identifier" id="hidden_button" value="entry_packagenumber" />
    <div class="input-group-append">
        <input class="btn btn-outline-secondary" type="submit" value="Speichern" id="button"
            onclick="check_new_packagenumber()">
    </div>
</div>

<div class="row justify-content-center">
    <div class="col-auto">

        <table class="table table_packages table-hover table-responsive table-bordered" id="packages"
            style="border-radius: 0.3rem;">
            <thead>
                <tr>
                    <th style="background-color:#4472c4 ; color: white; border-radius: 0.3rem 0em 0em;" scope="col">
                        Erwartete Pakete</th>
                    <th style="background-color:#4472c4 ; color: white; border-radius: 0rem 0.3rem 0em;" scope="col">
                        Bearbeiten</th>
                </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
        <div class="container text-center">
            <div>
                <div class="spinner-border" id="loading_01"></div>
            </div>
        </div>
    </div>

    <div class="col-auto">
        <table class="table table_packages table-hover table-responsive table-bordered" id="packagenumbers_delivered"
            style="border-radius: 0.3rem;">
            <thead>
                <tr>
                    <th style="background-color:#4472c4 ; color: white; border-radius: 0.3rem 0em 0em;" scope="col">
                        Zugestellte Pakete</th>
                    <th style="background-color:#4472c4 ; color: white;" scope="col">Datum</th>
                    <th style="background-color:#4472c4 ; color: white; border-radius: 0rem 0.3rem 0em;" scope="col">
                        Uhrzeit</th>
                </tr>
            </thead>
        </table>
        <div class="container text-center">
            <div>
                <div class="spinner-border" id="loading_02"></div>
            </div>
        </div>
    </div>

</div>

<div class="mb-4 text-center">
    <form action="/packages" method="POST">
        <input type="submit" class="btn btn-primary btn-lg" name="submit_button" value="Alle Paketnummern herunterladen"
            id="button">
        <input type="hidden" name="post_identifier" id="hidden_button" value="click_download" />
        <p id="output"></p>
    </form>
</div>
<script type="text/javascript" src="{{ url_for('static', filename='/javascript/includes/socketio.js')}}"></script>
<script type="text/javascript"
    src="{{ url_for('static', filename='javascript/includes/polipop/dist/polipop.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='/javascript/includes/packagenumber.js')}}"></script>
<script src="{{ url_for('static', filename='/javascript/includes/create_all_tables.js')}}"></script>
<script src="{{ url_for('static', filename='/javascript/includes/get_request_data.js')}}"></script>
<script src="{{ url_for('static', filename='/javascript/packages.js')}}"></script>
{% endblock %}