{% extends 'base.html' %}

{%block head %}
<title>iSYSTEM - Einstellungen</title>

{% endblock %}

{% block body %}
<nav class="navbar fixed-top navbar-center navbar-expand-lg navbar-light cusSticky" style="background-color: #4472c4">
    <a class="navbar-brand logo" href="/home"><img src="{{ url_for('static', filename='/Logo.png')}}" alt="..."
            height="45"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/home" style="color: #d1d1d1;">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/log" style="color: #d1d1d1;">Log</a>
            <li class="nav-item">
                <a class="nav-link " href="/packages" style="color: #d1d1d1;">Pakete</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="/settings" style="color: #343434;">Einstellungen</a>
            </li>
            </li>
        </ul>
    </div>
</nav>

<div class="space">

</div>

<div class="text-center container col-md-5">
    <div class="btn-group">

        {% if key == 'Ansage 1' %}
        {% set speecher_1 = 'checked' %}
        {%elif key == 'Ansage 2' %}
        {% set speecher_2 = 'checked' %}
        {%elif key == 'Melodie 1' %}
        {% set speecher_3 = 'checked' %}
        {%elif key == 'Melodie 2' %}
        {% set speecher_4 = 'checked' %}
        {%endif%}

        <input type="radio" class="btn-check" name="options" id="Ansage 1" autocomplete="off"
            onclick="submit_scanner_speak(this)" {{speecher_1}}>
        <label class="btn btn-secondary" for="Ansage 1"
            style="border-top-left-radius: 5px; border-bottom-left-radius: 5px;">Ansage 1</label>

        <input type="radio" class="btn-check" name="options" id="Ansage 2" autocomplete="off"
            onclick="submit_scanner_speak(this)" {{speecher_2}}>
        <label class="btn btn-secondary" for="Ansage 2">Ansage 2</label>

        <input type="radio" class="btn-check" name="options" id="Melodie 1" 3utocomplete="off"
            onclick="submit_scanner_speak(this)" {{speecher_3}}>
        <label class="btn btn-secondary" for="Melodie 1">Melodie 1</label>
        
        <input type="radio" class="btn-check" name="options" id="Melodie 2" 3utocomplete="off"
            onclick="submit_scanner_speak(this)" {{speecher_4}}>
        <label class="btn btn-secondary" for="Melodie 2">Melodie 2</label>

    </div>
</div>


<div class="text-center container col-md-5" style="margin-bottom: 30pt;">
    <div class="btn-group">
        <input type="radio" class="btn-check" name="speaker" id="option1.1" autocomplete="off"
            onclick="listen_scanner_text(this)">
        <label class="btn btn-secondary speech" for="option1.1"
            style="border-top-left-radius: 5px; border-bottom-left-radius: 5px; border-color: grey"><i
                class="bi bi-volume-up-fill"></i></label>

        <input type="radio" class="btn-check" name="speaker" id="option2.1" autocomplete="off"
            onclick="listen_scanner_text(this)">
        <label class="btn btn-secondary" for="option2.1"><i class="bi bi-volume-up-fill"></i></label>

        <input type="radio" class="btn-check" name="speaker" id="melodie_option3.1" autocomplete="off"
            onclick="listen_scanner_text(this)">
        <label class="btn btn-secondary" for="melodie_option3.1"><i class="bi bi-volume-up-fill"></i></label>

        <input type="radio" class="btn-check" name="speaker" id="melodie_option4.1" autocomplete="off"
            onclick="listen_scanner_text(this)">
        <label class="btn btn-secondary" for="melodie_option4.1"><i class="bi bi-volume-up-fill"></i></label>
    </div>
</div>


<div class="text-center container p-3 border col-md-5">
    <p class="text-center" id="old_val">Aktuelle Nutzungszeit: {{ result_time [0]}}:{{ result_time[1]}} Uhr
        bis {{ result_time [2]}}:{{ result_time [3]}} Uhr</p>
    <label for="start">Zeiten ändern: von</label>
    <input class="border-input" type="time" id="appt" name="start" id="start"
        value="{{ result_time [0]}}:{{ result_time[1]}}" />
    <input type="hidden" name="post_identifier" value="start_h_identifier" />
    Uhr bis

    <input class="border-input" type="time" name="end" id="end" value="{{ result_time [2]}}:{{ result_time [3]}}" />
    <input type="hidden" name="post_identifier" value="end_h_identifier" />
    Uhr
    <input class="border-input btn-outline-secondary" type="submit" value="Speichern" id="safe_time"
        onclick="check_times( '{{ result_time [0]}}' , '{{ result_time[1]}}' , '{{ result_time [2]}}' , '{{ result_time [3]}}' )">
</div>

<div class="input-group-lg input-group mb-3 text-centered col-md-4" style="margin-top: 2rem">
    <input type="text" class="form-control" name="content" id="mail_content" placeholder="E-Mail hinzufügen"
        aria-label="Recipient's username" aria-describedby="basic-addon2">
    <input type="hidden" name="post_identifier" id="hidden_button" value="mail_identifier" />
    <div class="input-group-append">
        <input class="btn btn-outline-secondary" type="submit" value="Speichern" id="button"
            onclick="new_email_entry()">
    </div>
</div>

<div class="row justify-content-center">
    <div class="col-auto">

        <table class="table table_packages table-hover table-responsive table-bordered" id="emails"
            style="border-radius: 0.3rem;">
            <thead>
                <tr>
                    <th style="background-color:#4472c4 ; color: white; border-radius: 0.3rem 0em 0em;" scope="col">
                        E-Mail-Adresse</th>
                    <th style="background-color:#4472c4 ; color: white; border-radius: 0rem 0.3rem 0em;" scope="col">
                        Bearbeiten </th>
                </tr>
            </thead>
        </table>
        <div class="container text-center">
            <div>
                <div class="spinner-border" id="loading"></div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="{{ url_for('static', filename='/javascript/includes/socketio.js')}}"></script>
<script type="text/javascript"
    src="{{ url_for('static', filename='javascript/includes/polipop/dist/polipop.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='/javascript/includes/email.js')}}"></script>
<script src="{{ url_for('static', filename='/javascript/includes/timecheck.js')}}"></script>
<script src="{{ url_for('static', filename='/javascript/includes/manipulate_entry_fields.js')}}"></script>
<script src="{{ url_for('static', filename='/javascript/includes/create_all_tables.js')}}"></script>
<script src="{{ url_for('static', filename='/javascript/includes/speech.js')}}"></script>
<script src="{{ url_for('static', filename='/javascript/includes/get_request_data.js')}}"></script>
<script src="{{ url_for('static', filename='/javascript/includes/scanner_speech.js')}}"></script>
<script src="{{ url_for('static', filename='/javascript/settings.js')}}"></script>
{% endblock %}