body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20pt;
    color: black;
    background: #ffffff; 
    margin-bottom: 60px;
}
.toast{
    position: relative; 
    top: 100px; 
    right: 10px;
    overflow: visible;
}
html {
    position: relative;
    min-height: 100%;
}

text {
    color: rgb(255, 255, 255);
}

h2 {
    font-size: 20pt;
    font-weight: 600;
}


.topbar {
    height: 95px;
    width: 100%;
    top: 0px;
    position: fixed;
    left: 0px;
    background: #E3E3E3;
    overflow: hidden;
    z-index: 1;
}

img.logo {
    width: 16%;
    padding: 10px 15px;
}

img.team {
    width: 8%;
    padding: 8px 15px;
}

.navi {
    background-color: #4472c4;
    overflow: hidden;
    position: fixed;
    top: 95px;
    left: 0px;
    width: 100%;
    z-index: 1;
}

.nav-item {
    float: left;
    display: block;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    font-size: 28px;
    font-weight: 600; 
}

.navi a:hover {
background-color: #6e6e6e;
}

.navi a.aktiv {
    color: #9c9c9c;  
}

.border-input {
    border: 1pt solid #4472c4 !important;
    border-radius: 0.3em;
    background-color: #e4e4e4;
   
}
.border {
    border: 2pt solid #4472c4 !important;
    border-radius: 0.3em;
    background-color: #4472c4;
    color: white;
    font-size: 1em;
    font-weight: 300;
}


.space {
    margin-top: 7rem;
}

.active>.nav-link {
    color: #9b9b9b;
}

.nav-link {
    color: #d1d1d1;
}

.row {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
}

.navbar {
    position: relative;
    line-height: 1;
}
.logo {
    margin-left: 34%;
    margin-right: 1rem;
}

.table {
    max-width: none;
    table-layout: fixed;
    word-wrap: break-word;
}

.tables_packages {
    margin-top: 7em;
}


.packagehead {
    color: black;
    margin-top: 8em;
    margin-left: 1em;
}

.packagedb {
    float: left;
    margin-top: -2em;
    position: relative;
    margin-left: 1em;
    width: 60%;
}

.packagedb_delivered {
    float: left;
    margin-top: -1em;
    position: relative;
    margin-left: 1em;
    width: 60%;
}

.tables_logs{
    margin-top: 10em;
}

.table_log {
    margin-top: 7rem;
}

.table_packages {
    margin-top: 1rem;
}

.logdb {
    margin-top: auto;
    position: relative;
    margin-left: 1em;
    width: 60%;
}

#radio {
	accent-color: #4472c4;
}

.input[type="radio"] {
    accent-color: #4472c4;
}

.btn-group {
    width: 90%;
}
.form-control,
.btn {
    border-width: 1px; 
    border-color: #4472c4;
}

.input-group-lg {
    margin-top: 4em;
    
}

.btn-outline-secondary:hover {
    background-color: #ffffff; 
    color: #000000;
}

.text-centered {
    margin-left: auto;
    margin-right: auto;
} 

#log {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 70%;
    margin-bottom: 4em;
}

#packagenumbers_delivered td, 
#packagenumbers_delivered th, 
#packages td, 
#packages th, 
#log td, 
#log th {
    border: 1px solid #ddd;
    padding: 8px;
}

#packagenumbers_delivered tr:nth-child(even),
#packages tr:nth-child(even) {
    background-color: #f2f2f2;
}

#log tr:nth-child(even) {
    background-color: #f2f2f2;
}

#packagenumbers_delivered tr:hover,
#packages tr:hover {
    background-color: #ddd;

}

#log tr:hover,
#log tr:hover {
    background-color: #ddd;
}
  
#packagenumbers_delivered th, 
#packages th, 
#log th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4472c4;
    color: white;
}

.distance {
    padding: 1em;
    clear: left;
}

.state {
    padding: 5px;
    position: relative;
    padding: 5px;    
}

.state text {
    font-size: 20pt;
    font-weight: 800;
    color: black;
    position: relative;
    text-align: center;
}
.footer {
 
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color: #f5f5f5;
}

.spinner-border{
    width: 3rem; 
    height: 3rem;
    color: #4472c4;
    margin: 10pt;
}
.middle {
    font-size: 20pt;
    font-weight: 750;
    color: black;
    position: relative;
    top: 18%;
    text-align: center;
}

.edit_button {
    padding-right: 30%; 
    padding-left: 10%
}

.shadow-box-example {
    height: 120px;
    width: 100%;
    background-color: #92D050;
    /* border:  2px solid #4472c4; */
    border-radius: 0.5em 0.5em 0.5em 0.5em; 
 
  }

  .btn-check:checked+.btn-secondary{
    border-color: #4472c4;
    background-color: #4472c4;
  }

input[type=radio]:checked+label{
    background-color: #4472c4;
}
[type="radio"]:checked+label {
    background-color: red;
    border: 2px solid red;
  }

.btn-primary {
    background-color: #4472c4;
}

btn:active,
.active  {
    background-color: #4472c4 !important;
}

.speech,
.btn-secondary {
    border-color: grey;
    font-size: 20pt;
}


.cusSticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    
}

footer {

    background-color: rgb(42, 42, 42);
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100px;
    width: 100%;
    overflow: hidden;
    
}


footer text {
    float: left;
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 24px 20px;
    text-decoration: none;
    font-size: 25px;
    font-weight: 600;
}


.table_try {
    position: relative;
    padding-top: 5%; 
}
.input_try {
    position: relative;
    border: 0em;
    background-color: none;

}